/*----------------------------------------------- EXPLORE PAGE -----------------------------------------------*/
.explore-container {
    padding: 40px;
}

.explore-title {
    color: #fff;
    font-size: 2rem;
    margin: 5px;
    font-family: 'Sedgwick Ave', cursive;
    background-image: linear-gradient(to right, #ec4899, #a665de, #9ccdd1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.loading {
    color: #fff;
    font-size: 1.2rem;
    margin: 10px 0;
}

.error {
    color: #ec4899;
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: semibold;
}

.event-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode-toggle {
    margin: 20px 0;
}

.city-mode, .artist-mode {
    background: transparent;
    color: #9ccdd1;
    border: 1px solid #9ccdd1;
    border-radius: 5px;
    cursor: pointer;
    min-height: 40px;
    min-width: 100px;
    font-size: 1rem;
    margin-right: 10px;
}

/*----------------------------------------------- SEARCH BAR -----------------------------------------------*/
.searchbar {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchbar button {
    background: linear-gradient(to right, #413d3d, #a665de);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-height: 80px;
    min-width: 80px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.searchbar form {
    padding: 20px;
    width: 100%;
    border: none;
    border-radius: 50px;
    height: 40px;
    margin-right: 10px;
    background-color: #413d3d;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-right: 0;
}

.searchbar input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    height: 100%;
}

.searchbar input::placeholder {
    color: #fff;
    opacity: 0.7;
}

/*----------------------------------------------- EVENT CARD -----------------------------------------------*/
.event-card {
    border-radius: -50px;
    margin: 10px 0;
    width: 100%;
    min-width: 1000px;
    max-width: 1000px;
    min-height: 250px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: row;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-info {
    flex: 3;
    background-color: #9ccdd1;
    width: 100%;
    padding: 20px 30px;
    mask: conic-gradient(from 45deg at left,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 20px,
    radial-gradient(20px at 100% 20px,#0000 98%,#000) 0 -20px;
    border-right: 3px dashed #222020;
    mask-composite: intersect;
}

.event-link {
    flex: 3;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.event-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 20px 10px;
}

.event-container:before {
    content: "";
    position: absolute;
    inset: 0;
    background: black;;
    clip-path: polygon(0 20px,20px 0,calc(100% - 20px) 0,100% 20px,100% calc(100% - 20px),calc(100% - 20px) 100%,20px 100%,0 calc(100% - 20px),0 20px,2px  calc(20px + 0.83px),2px calc(100% - 20px - 0.83px),calc(20px + 0.83px) calc(100% - 2px),calc(100% - 20px - 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 20px - 0.83px),calc(100% - 2px) calc(20px + 0.83px),calc(100% - 20px - 0.83px) 2px,calc(20px + 0.83px) 2px,2px calc(20px + 0.83px));
}

.event-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    color: black;
    font-family: 'Fuzzy Bubbles', cursive;
}

.event-name {
    font-size: 3.5rem;
    margin: 0;
    font-family: 'Unica One', sans-serif;
    color: black;
    flex: 2;
}

.event-date {
    font-size: 1.5rem;
    margin: 0;
    color: black;
    flex: 1;
    padding: 10px;
    background-color: #eeebde;
    text-align: center;
    clip-path: polygon(0 8px,8px 0,calc(100% - 8px) 0,100% 8px,100% calc(100% - 8px),calc(100% - 8px) 100%,8px 100%,0 calc(100% - 8px));
}

.event-time {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 20px;
}

.event-venue {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 20px;
}

.event-save {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-left: 3px dashed #222020;
    background-color: #9ccdd1;
    width: 100%;
    padding: 20px;
    mask: conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 20px,
    radial-gradient(20px at 0 20px,#0000 98%,#000) 0 -20px;
    mask-composite: intersect;
    align-items: center;
    justify-content: space-between;
}

.event-name-2 {
    font-size: 2rem;
    margin: 0;
    font-family: 'Unica One', sans-serif;
    color: black;
}

.save-button {
    background: linear-gradient(to right, #d3d0c5, #eeebde);
    color: #020202;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-height: 50px;
    min-width: 100px;
    font-size: 2rem;
    margin-bottom: 20px;
}

.save-button:hover {
    background: linear-gradient(to right, #413d3d, #a665de);
    color: #fff;
}

.event-save.saved {
    background: linear-gradient(to right, #6f8b8f, #9ccdd1);
    color: #000000;
}