/*----------------------------------------------- FOLLOWING PAGE -----------------------------------------------*/
.following-container {
    padding: 40px;
}

.following-title {
    color: #fff;
    font-size: 2rem;
    margin: 5px;
    font-family: 'Sedgwick Ave', cursive;
    background-image: linear-gradient(to right, #ec4899, #a665de, #9ccdd1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.loading {
    color: #fff;
    font-size: 1.2rem;
    margin: 10px 0;
}

.error {
    color: #ec4899;
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: semibold;
}

.no-results, .no-followed-artists {
    color: #fff;
    font-size: 1.2rem;
    margin: 10px 0;
}

.followed-artists-title {
    color: #fff;
    font-size: 1.5rem;
    margin: 10px 0;
}

.search-results {
    list-style-type: none;
    padding: 0;
    margin: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

/*----------------------------------------------- SEARCH BAR -----------------------------------------------*/

/*----------------------------------------------- ARTIST CARD -----------------------------------------------*/
.artist-card {
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s;
    border: 10px solid #9ccdd1;
    border-radius: 15px;
    width: 400px;
    aspect-ratio: 5 / 7;
    background: linear-gradient(135deg, #9ccdd1, #a665de, #ec4899, #9ccdd1);
    margin-bottom: 20px;
}

.artist-card:hover {
    transform: translateY(-5px);
}

.artist-description {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-name {
    font-size: 2.5rem;
    margin: 0;
    font-family: 'Unica One', cursive;
}

.artist-info {
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    text-decoration: underline;
}

.artist-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.follow-button {
    background-color: #9ccdd1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 10px 0;
}

.unfollow-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #9ccdd1;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 10px 0;
}

.artist-events-button {
    color: #fff;    
    cursor: pointer;
    font-size: 1rem;
}

.artist-events-popup {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #9ccdd1;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    left: 500px;
    top: 0;
    width: 100%;
}